server {
  server_name tourbuzz.nl;
  rewrite ^ https://www.tourbuzz.nl$request_uri? permanent;
}

server {
  listen 80 default;
  listen [::]:80 default;
  server_name www.tourbuzz.nl;

  root /srv/web/tourbuzz-api/;
  index index.html;

  location / {
    try_files $uri /app_prod.php$is_args$args;
  }

  location ~ ^/app_prod\.php(/|$) {
    fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
    fastcgi_param DOCUMENT_ROOT $realpath_root;
    fastcgi_param HTTP_X_FORWARDED_PROTO https; # LB does not send this
    internal;
  }

  location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
    expires 1y;
    add_header Cache-Control "public";
  }

  location ~* \.(?:css|js)$ {
    expires 1y;
    add_header Cache-Control "public";
  }
}