<div style="width: 100%; font-weight: bold; height: 40px; color: #fff; background: #d80e27; font-size: 30px; padding: 10px 20px 20px">Tour Buzz</div>

{% block message %}{% endblock %}

{% block footer %}
<p>Wilt u deze berichten niet meer ontvangen? Meld u dan <a href="https://www.tourbuzz.nl/berichtenservice-afmelden">hier</a> af</p>
<img style="width: 150px" src="cid:logo-cid" alt="Amsterdam logo">
{% endblock %}